Reading a file with Pandas
==
---

Pandas is a library widely used for statistics and analysis
* Has functions which allow you to read a file directly into your script
* Borrows many feature from R's data frames

*   Read a Comma Separate Values (CSV) data file with `pandas.read_csv`.
    * Uses the same notation as you used for bash ("./" accesses the current folder, "../" searches up to the parent folder)
    * Argument is the name of the file to be read.
    * Assign result to a variable to store the data that was read.

## Accessing Files

We're using the gapminder data that we created yesterday. Remember that these are stored in the shell_lessons directory in a `data` sub-directory, which is why the path to the file is `../shell_lessons/data/gapminder_data/gapminder_final.txt`. If you forget to include `../shell_lessons/`, or if you include it but your copy of the file is somewhere else, you will get a [runtime error]({{ site.github.url }}/05-error-messages/) that ends with a line like this:
    ~~~
    OSError: File b'gapminder_final.txt' does not exist
    ~~~
    
** Don't forget to use the tab key for auto-completion **
    * Auto-complete works in Jupyter notebooks!

In [1]:
# First, import the pandas library
import pandas

In [2]:
# Then read the csv
df = pandas.read_csv("gapminder_csv.txt")
#df is short for dataframe

 print the data frame

In [7]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1997  22227415.0      Asia   41.763  635.341351
1  Afghanistan  2002  25268405.0      Asia   42.129  726.734055
2  Afghanistan  2007  31889923.0      Asia   43.828  974.580338
3  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
4  Afghanistan  1957   9240934.0      Asia   30.332  820.853030

When we load a csv file with Pandas, it get's loaded into a DataFrame.

DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column. So, a data frame and series are synonomous with table and column.


*   The columns in a data frame are the observed variables, and the rows are the observations.
*   Pandas uses backslash `\` to show wrapped lines when output is too wide to fit the screen.

---
## EtherPad

Hypothetically, the data a project you are working on is stored in a file called `microbes.csv`, which is located in a folder called `field_data`. You are doing analysis in a notebook called `analysis.ipynb`in a sibling folder called `thesis`. You're directory structure looks like this:
    ~~~
    your_home_directory
    +-- field_data/
    |   +-- microbes.csv
    +-- thesis/
        +-- analysis.ipynb
    ~~~

What value(s) should you pass to `read_csv` to read `microbes.csv` in `analysis.ipynb`? Vote for your answer in EtherPad.

    a. "/field_data/microbes.csv"
    b. "./field_data/microbes.csv"
    c. "field_data/microbes.csv"
    d. "../field_data/microbes.csv"

---

## Use `DataFrame.info` to find out more about a data frame.

In [8]:
# Write your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
pop          1704 non-null float64
continent    1704 non-null object
lifeExp      1704 non-null float64
gdpPercap    1704 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

## Use `DataFrame.describe` to get summary statistics about data.

DataFrame.describe() gets the summary statistics of only the columns that have numerical data. 
All other columns are ignored.

In [9]:
# Write your code here
df.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165877
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846989
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

---
## EtherPad:
1. Use the python cell below to find the minimum GDP per capita of all countries in 1972?

Hint: You will need to use the DataFrame.loc[] to find all entries of 1972

In [23]:
# Write your code here
#df[['country','year', 'gdpPercap']]
df_1972 = df.loc[df['year']==1972]

In [24]:
df_1972.describe()

         year           pop     lifeExp      gdpPercap
count   142.0  1.420000e+02  142.000000     142.000000
mean   1972.0  2.518998e+07   57.647386    6770.082815
std       0.0  8.864682e+07   11.381953   10614.383403
min    1972.0  7.659500e+04   35.400000     357.000000
25%    1972.0  2.351192e+06   48.500250    1257.193853
50%    1972.0  5.877996e+06   56.530000    3339.129407
75%    1972.0  1.467920e+07   69.247500    9508.839303
max    1972.0  8.620300e+08   74.720000  109347.867000

In [26]:
df_1972.info()
#df.drop removes the info
#df.dropna removes and replaces with na
#df.drop_duplicates removes duplicates

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142 entries, 7 to 1696
Data columns (total 6 columns):
country      142 non-null object
year         142 non-null int64
pop          142 non-null float64
continent    142 non-null object
lifeExp      142 non-null float64
gdpPercap    142 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 7.8+ KB

Vote for your answer on EtherPad

    a. 331.0
    b. 357.0
    c. 415.0
    d. 424.
    
---

## The `DataFrame.columns` variable stores information about the data frame's columns.

*   Note that this is a variable, *not* a function.
    *   Like `math.pi`.
    *   So do not use `()` to try to call it.

In [11]:
# print out the data frame columns
df.columns

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [18]:
df.year
#or df['year']

0       1997
1       2002
2       2007
3       1952
4       1957
5       1962
6       1967
7       1972
8       1977
9       1982
10      1987
11      1992
12      1952
13      1957
14      1962
15      1967
16      1972
17      1977
18      1982
19      1987
20      1992
21      1997
22      2002
23      2007
24      1962
25      1967
26      1972
27      1977
28      1982
29      1952
        ...
1674    1982
1675    1987
1676    1992
1677    1997
1678    2002
1679    2007
1680    1952
1681    1957
1682    1962
1683    1967
1684    1972
1685    1977
1686    1982
1687    1987
1688    1992
1689    1997
1690    2002
1691    2007
1692    1952
1693    1957
1694    1962
1695    1967
1696    1972
1697    1977
1698    1982
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

## Use `index_col` to specify that a column's values should be used as row headings.

*   Row headings are numbers (0 and 1 in this case).
*   Really want to index by country.
*   Pass the name of the column to `read_csv` as its `index_col` parameter to do this.

In [ ]:
# re-read in the gapminder data with the "country" column/series sa the index_col
df = pandas.read_csv("gapminder_csv.txt", index_col="country")
print(df.head())

* This is a `DataFrame`
* This gives us many rows with the same index value ("e.g. Afghanistan")
  * Not good practice
* lets re-read the table without the index_cols

In [ ]:
# Write your code here

## Writing to csv file 
As well as the `read_csv` function for reading data from a file, Pandas can write data frames to files with a `to_****` function.
  * Pandas can write data frames to csv, html, excel (xlsx), json, and many more.  
    E.g.  
    `df.to_csv("./my_data.csv")`

In [27]:
#save files as .csv or .tsv so that virually anything can read it
#not Excel (.xlsx) b/c you never know how long Excel will last

---
## EXERCISE:
1. With the `gapminder_final.txt` file read in as a data frame, write out a copy of the data frame as a csv to a new file called `gapminder_final.csv` in the `data` directory in the `python_lessons` directory ("./data").

---

In [ ]:
# Write your code here

# -- COMMIT YOUR WORK TO GITHUB --

---
## Keypoints:
 * Use the Pandas library to do statistics on tabular data.
 * Use `index_col` to specify that a column's values should be used as row headings.
 * Use `DataFrame.info` to find out more about a data frame.
 * The `DataFrame.columns` variable stores information about the data frame's columns.
 * Use `DataFrame.T` to transpose a data frame.
 * Use `DataFrame.describe` to get summary statistics about data.